:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    /* position: absolute;
       */
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    /* max-width: 960px; */
    background-color: #fff;
    flex-direction: column;
    align-items: center;
  }
  
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #ffffff;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #a81d22;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
  
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }
  
  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }
  
  a,
  a:visited,
  a:hover {
    color: #a81d22;
    text-decoration: none;
  }
  
  a:hover {
    color: #125699;
  }
  
  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }
  
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }
  
  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
  
  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }
  
  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
  }
  
  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, 0.35);
    background-position: -0.5em;
  }
  
  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
  
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      /* margin: 8px 0; */
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
    .card-language {
      margin-top: 5% !important;
      height: 600px !important;
    }
    .card-language-inner {
      margin: 0px !important;
      height: 550px !important;
    }
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  
    .card-language {
      margin-top: 5% !important;
      height: 600px !important;
    }
    .card-language-inner {
      margin: 0px !important;
      height: 550px !important;
    }
  }
  
  .allblur {
    /* border: solid 1px #555; */
    /* background-color: #eed; */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  }
  
  button {
    background-color: #a81d22;
    color: #ffffff;
    border: none;
    /* padding: 10px 20px;
    font-size: 17px; */
    font-size: 13px;
    padding: 5px 10px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* button:active {
  
  } */
  
  .buttonactive {
    background-color: #a81d22;
  }
  
  .buttondeactive {
    background-color: gray;
  }
  
  .background {
    /* text-align: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    height: 70vh;
  }
  
  .background1 {
    /* text-align: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    height: 90vh;
  }
  
  .search {
    width: 40%;
    height: auto;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .search {
      width: 90%;
      height: auto !important;
      font-weight: bolder;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  
    .card-language {
      margin-top: 5% !important;
      height: 600px !important;
    }
  
    .card-language-inner {
      margin: 0px !important;
      height: 550px !important;
    }
  }
  
  .captchControl {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .futuregenerali {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .futuregenerali {
      width: 40% !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .captchControl {
      width: 100% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  
    .card-language {
      margin-top: 5% !important;
      height: 600px !important;
    }
    .card-language-inner {
      margin: 0px !important;
      height: 550px !important;
    }
  }
  
  /* COMPACT CAPTCHA */
  
  .capbox {
    background-color: #bbbbbb;
    background-image: linear-gradient(#bbbbbb, #9e9e9e);
    /* border: #2A7D05 0px solid; */
    border-width: 2px 2px 2px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    padding: 5px 8px 5px 8px;
    border-radius: 4px 4px 4px 4px;
  }
  
  .capbox-inner {
    font: bold 12px arial, sans-serif;
    color: #000000;
    background-color: #e3e3e3;
    margin: 0px auto 0px auto;
    padding: 3px 10px 5px 10px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  
  #CaptchaDiv {
    color: #000000;
    font: normal 25px Impact, Charcoal, arial, sans-serif;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    user-select: none;
    display: inline-block;
    padding: 3px 14px 3px 8px;
    margin-right: 4px;
    border-radius: 4px;
  }
  
  #CaptchaInput {
    border: #38b000 2px solid;
    margin: 3px 0px 1px 0px;
    width: 105px;
  }
  
  .colorred {
    color: red;
  }
  .colorblack {
    color: #333;
  }
  
  .center-content {
    background: black;
    /* height: 100vh; */
  }
  
  @media only screen and (max-width: 600px) {
    .center-content {
      background: white;
    }
  }
  .buttoncircular {
    background: #fff;
    color: #fff;
    width: 90px;
    /* height: 70px; */
    line-height: 70px;
    /* display: block; */
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 3px #a81d22;
  }
  
  .homebtn {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
  }
  
  @media only screen and (max-width: 600px) {
    .homebtn {
      position: fixed;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
    }
  }
  /* 
  body {
    margin: 0;
  }
  .container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
    padding: 10px;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  .container .btn-holder button {
    padding: 10px 25px;
    background: #a81d22;
    font-size: 16px;
    border: none;
    color: #fff;
  } */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  @media only screen and (min-width: 600px) {
    .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
    }
  }
  
  /* fontsize */
  .fontsize {
    font-size: xx-large;
  }
  
  @media all and (max-device-width: 320px) {
    .fontsize {
      font-size: x-large;
    }
  }
  
  /* card center */
  .language-card {
    margin-top: 10%;
    width: 90%;
    height: auto;
    margin-left: 5%;
    /* margin-left: auto;
    margin-right: auto; */
  }
  /* @media only screen and (min-device-width: 320px) {
    .fontsize {
      font-size: x-large;
    }
  }
  
  @media only screen and (max-device-width: 320px) {
    .fontsize {
      font-size: xx-large;
    }
  } */
  
  /* 
  @media only screen and (min-device-width: 360px) {
    .fontsize {
      font-size: xx-large
    }
  } */
  
  .proceed {
    width: 100%;
    color: white;
    background-color: #a81d22;
    font-size: xx-large;
  }
  
  /* 01/12/2020 */
  
  @media only screen and (min-width: 992px) {
    .scrollhidden {
      overflow-y: hidden;
    }
  }
  